.RepoList {
  margin-top: 5rem;
  padding: 1rem;
}

.navigate {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #ddd;
  color: black;
  border: 1px solid black;
}